@using Nop.Web.Models.Customer;
@model Nop.Web.Models.Flitts.ConfirmPaymentModel

@{
    ViewBag.Title = "Confirm Payment - Completed";
    ViewBag.HideMenu = "true";
}

@section left
{
    @Html.Action("CustomerNavigation", "Customer", new { selectedTabId = CustomerNavigationEnum.ConfirmPayment })
}


@section custnavmob{
    @Html.Action("CustomerNavigation", "Customer", new { selectedTabId = CustomerNavigationEnum.ConfirmPayment, isMobile = true })
}

<section class="col-main-sml mt-normal">
    <div class="checkout-completed-blox">
        <h1>
            Payment confirmed
        </h1>
        <br /><br />
        <h2>
            Thank you for shopping
        </h2>
        <table class="table">
            <tr>
                <td style="border-right:1px solid #383838; width:50%;">&nbsp;</td>
                <td></td>
            </tr>
        </table>
        <p>
            We'll start working on getting your order out to you<br />
            You can check the status of your order in <a class="alt" href="@Url.RouteUrl("OrderDetails", new { orderID=Html.AttributeEncode(Model.Id)})"><i>order history</i></a>
        </p>
    </div>
</section>


@section HeaderSection{

    <style>
        body {
            background-color: #ebe4de;
        }
    </style>

}