@model ShoppingCartModel.DiscountBoxModel
@using Nop.Web.Models.ShoppingCart;


@if (Model.Display)
{
    <div class="coupon-box offer offer-default">
        @*<strong>@T("ShoppingCart.GiftCardCouponCode")</strong>*@

        <div class="hint">
            <a href="#lnkvoucher" id="lnkvoucher">Add a voucher code</a>
            @*@T("ShoppingCart.DiscountCouponCode.Tooltip")*@
        </div>

        <div id="vouchercnt" style="display:none;">

            @*<div class="form-inline">
                <div class="form-group">
                    <input name="couponcode" type="text" class="form-control tbCoupon" />
                    <input type="submit" name="applycouponcode" value="Apply" class="btn btn-link coupon" />
                </div>
            </div>*@

            <table class="" style="width:100%;">
                <tbody>
                    <tr>
                        <td style="width:50%;"><input name="couponcode" type="text" class="form-control tbCoupon" placeholder="Coupon code" /></td>
                        <td style="text-align:right;">
                            <input type="submit" name="applycouponcode" value="Apply Coupon" class="btn coupon" />
                        </td>
                    </tr>
                </tbody>
            </table>

            @*<div class="form-inline">
                <div class="form-group">
                    <div class="col-xs-9 col-sm-10" style="padding-left:0; padding-right:0;">
                        <input name="couponcode" type="text" class="form-control tbCoupon" />
                    </div>
                    <div class="col-xs-3 col-sm-2 text-center">
                        <input type="submit" name="applycouponcode" value="Apply Coupon" class="btn btn-link coupon" />
                    </div>
                </div>
            </div>*@

            @*@if (!String.IsNullOrEmpty(Model.CurrentCode))
                {
                    <div class="alert alert-info square-box">
                        @string.Format(T("ShoppingCart.DiscountCouponCode.CurrentCode").Text, Model.CurrentCode)
                       // empty value (little hack for FormValueExistsAttribute)
                        <input type="submit" name="removediscountcouponcode" value=" " title="@T("Common.Remove")" class="btn btn-default btn-noWidth full-width-xs" />
                    </div>
                }*@

        </div>
        @if (!String.IsNullOrEmpty(Model.Message))
        {
            <div class="text-danger">
                @Model.Message
            </div>
        }
    </div>
}

<script type="text/javascript">
    $('#lnkvoucher').click(function (event) {
        $('#vouchercnt').slideToggle();
    });
</script>