@model ShoppingCartModel
@using Nop.Web.Models.Checkout
@using Nop.Web.Models.ShoppingCart;
@{
    //title
    Html.AddTitleParts(T("PageTitle.ShoppingCart").Text);
    //ViewBag.HideMenu = "true";
    
}


<div class="col-main mt-normal">
    @*<h1>@T("ShoppingCart")</h1>*@
    @Html.Partial("OrderSummary", Model)
</div>



@section Left{
    @Html.Partial("MenuStatic")
}



@section scripts{
    <script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>

    <script>
        function reqfailed() {
          $("#pnlfailure").html("Sorry, an error occured.");
        }

        function frmUpdateComplete(data, status, xhr)
        {
            if (typeof data.uri != "undefined")
                window.location = data.uri;

            if ($('#cartqty').html() != "undefined") {
                var q = ($('#cartqty').html());

                if (q > 0){
                    $('.cart-qty').html(q);
                }
                else {
                    var width = $(window).width(), height = $(window).height();
                    if ((width >= 1080)) {
                        $('.cart-qty').html('0');
                    }
                    else {
                        $('.cart-qty').empty();
                    }
                }
                    
            }
        }
    </script>
}