@model ProductDetailsModel
@using Nop.Web.Models.Catalog;

@*@if (Model.DisplayBackInStockSubscription){*@
<div class="back-in-stock-subscription" style="margin-top:13px;">
    <p>Out of stock</p>
    @*<a id="back-in-stock-subscribe-@Model.Id" class="fancyboxPage" href="">@T("BackInStockSubscriptions.NotifyMeWhenAvailable")</a>*@
    @*<input type="button" id="back-in-stock-subscribe-@Model.Id" class="button-1 subscribe-button btn btn-default fancyboxPage" value="@T("BackInStockSubscriptions.NotifyMeWhenAvailable")" style="width:100%" />*@
</div>

@*}*@