@model Skybrud.Social.Instagram.Responses.InstagramRecentMediaResponse




@if (Model != null)
{

    
    @*<div class="IGposts">
        <div class="row">
            <div class="col-12"><h1 class="text-center">FOLLOW @@KILDABEAUTY</h1></div>
        </div>
        <div class="row position-relative slider-instagram">
            <div class="carouseldesktop d-none d-md-block">

                @for (int i = 0; i < 6; i++)
                {
                    var post = Model.Body.Data[i];
                    <div><a href="@post.Link" target="_blank"><img src="@post.Standard" class="img-fluid" /></a></div>
                }
            </div>
            <div class="carouselmobile d-block d-md-none">
                @for (int i = 0; i < 6; i++)
                {
                    var post = Model.Body.Data[i];
                    <div><a href="@post.Link" target="_blank"><img src="@post.Standard" class="img-fluid" /></a></div>
                }

            </div>
            <div class="d-block d-md-none">
                <div class="position-absolute arrow-carousel d-flex justify-content-between">
                    <p class="left" style="left:10px"><img src="~/Themes/v1/Content/images/pref.png" /></p>
                    <p class="right" style="right:10px;"><img src="~/Themes/v1/Content/images/next.png" /></p>
                </div>
            </div>
        </div>
    </div>*@


    <div class="IGposts">
        <div class="row">
            <div class="col-12">
                <h1 class="text-center">FOLLOW @@KILDABEAUTY</h1>
            </div>
            <div class="col-12 text-follow2">
                    <h3 class="text-center text-lg-right" style="font-size:18px;"><span style="border-bottom:1px solid #99282C">Follow @@kildabeauty</span></h3>
                </div>
        </div>
        <link rel="stylesheet" href="~/Scripts/Plugins/owlcarousel/assets/owl.carousel.css">
        <link rel="stylesheet" href="~/Scripts/Plugins/owlcarousel/assets/owl.theme.default.min.css">
        <div class="d-none d-sm-block mt-3">
            <div class="row" style="height:297px;">
                <div class="large-12 columns">
                    <div class="owl-carousel">
                        <div class="item">
                            <img src="~/content/images/uploaded/homepage/home.png" />
                        </div>
                        <div class="item">
                            <img src="~/content/images/uploaded/homepage/home-1.png" />
                        </div>
                        <div class="item">
                            <img src="~/content/images/uploaded/homepage/home-2.png" />
                        </div>
                        <div class="item">
                            <img src="~/content/images/uploaded/homepage/home-3.png" />
                        </div>
                        <div class="item">
                            <img src="~/content/images/uploaded/homepage/home-4.png" />
                        </div>
                        <div class="item">
                            <img src="~/content/images/uploaded/homepage/home.png" />
                        </div>
                        <div class="item">
                            <img src="~/content/images/uploaded/homepage/home-1.png" />
                        </div>
                    </div>
                </div>
            </div>
        </div>


        @*<script src="~/Scripts/Plugins/owlcarousel/owl.carousel.js"></script>*@


        <div class="carousel d-block d-sm-none" data-flickity='{ "autoPlay": true, "groupCells": false, "prevNextButtons": true, "pageDots": false }'>
            <div class="carousel-instagram"><img src="~/content/images/uploaded/homepage/home.png" /></div>
            <div class="carousel-instagram"><img src="~/content/images/uploaded/homepage/home-1.png" /></div>
            <div class="carousel-instagram"><img src="~/content/images/uploaded/homepage/home-2.png" /></div>
            <div class="carousel-instagram"><img src="~/content/images/uploaded/homepage/home-3.png" /></div>
            <div class="carousel-instagram"><img src="~/content/images/uploaded/homepage/home-4.png" /></div>
            <div class="carousel-instagram"><img src="~/content/images/uploaded/homepage/home.png" /></div>
            <div class="carousel-instagram"><img src="~/content/images/uploaded/homepage/home-1.png" /></div>
            <div class="carousel-instagram"><img src="~/content/images/uploaded/homepage/home-2.png" /></div>
        </div>

        @*<script src="https://unpkg.com/flickity@2/dist/flickity.pkgd.min.js"></script>*@
        </div>

        }
