@model FooterModel
@using Nop.Core
@using Nop.Core.Domain.Tax
@using Nop.Core.Infrastructure
@using Nop.Web.Models.Common;

<footer data-section-name="footer">
  <div class="container">
    <div class="row mt-2 mt-md-4">
      <div class="col-12 d-flex flex-column align-items-center">
        <div class="input-group col-md-4 mt-5 mb-4" style="justify-content: center" id="nieuwsbrief">
          <form action="https://aboutonka.us19.list-manage.com/subscribe/post?u=fd378e85fe4fe1460877e78f4&amp;id=6c013484fd" 
            method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate style="display: flex;">
            <input style="font-size: 11px;" id="mce-EMAIL" class="email form-control py-2"  name="EMAIL" placeholder="Subsribe to newsletter" value="" required="required" />
            <span class="input-group-append" style="margin-left: -5px; display: flex; justify-content: center; align-items: center;">
              <i class="fa fa-chevron-right" style="margin-top: 4px; font-size: 7px;"></i>
            </span>
          </form>
          <script type='text/javascript' src='//s3.amazonaws.com/downloads.mailchimp.com/js/mc-validate.js'></script>
          <script type='text/javascript'>(function ($) { window.fnames = new Array(); window.ftypes = new Array(); fnames[0] = 'EMAIL'; ftypes[0] = 'email'; fnames[1] = 'FNAME'; ftypes[1] = 'text'; fnames[2] = 'LNAME'; ftypes[2] = 'text'; }(jQuery)); var $mcj = jQuery.noConflict(true);</script>
          <div id="nieuwsbrief-msg" style="display:none;">
            Thank you for subscribing!
          </div>
        </div>

        <div class="row" style="display: flex; justify-content: center">
          <a href="~/" style="font-size: 27px; font-family: ClearfaceStd-Regular;">Shopee</a>&nbsp;.&nbsp;
          <a href="~/" style="font-size: 27px; font-family: ClearfaceStd-Regular;">Instagram</a>
        </div>

        <div class="mt-3 mb-3 row" style="display: flex; justify-content: center">
          @foreach (var topic in Model.Topics.Where(x => x.IncludeInFooterColumn1).ToList())
          {
            <a class="nav-item nav-link active" href="@Url.RouteUrl("Topic", new { SeName = topic.SeName })">@topic.Name</a>
          }
          <a class="nav-item nav-link active" href="~/contactus">Contact</a>
        </div>
        
        <div class="row" style="display: flex; justify-content: center">
          <p class="copyright-text">
            &#9400; Kaia <script>document.write(new Date().getFullYear())</script>. All right reserved.</a>
          </p>
        </div>
        <div class="mt-2">
          <a href="~/"><img style="width:30px;" src="~/Themes/v1/Content/images/logo_footer.png" class="brandImage" /></a>
        </div>
      </div>
    </div>
  </div>
</footer>
   

<script>
  $("#mc-embedded-subscribe").click(function () {
    $("#nieuwsbrief").css("display", "none");
    $("#nieuwsbrief-msg").css("display", "block");
  });
</script>

