@{

    //title
    Html.AddTitleParts(T("PageTitle.PageNotFound").Text);


}


<section class="col-main-slim mt-normal" style="padding-top:6px;">
   <h1>@T("PageTitle.PageNotFound")</h1>
   @Html.Action("TopicBlock", "Topic", new { systemName = "PageNotFound" })
</section>


