@{
    Layout =  null;

    //title
    //Html.AddTitleParts(T("PageTitle.StoreClosed").Text);
}


@*<div class="page store-closed-page">
    <div class="page-title">
        <h1>@T("StoreClosed")</h1>
    </div>
    <div class="page-body">
        @T("StoreClosed.Hint")
    </div>

   
</div>*@

<title>shopatvelvet - under construction</title> 

<div style="background:url('../../Content/Images/uploaded/store-closed.jpg') no-repeat center center; background-size:cover; width:100%; height:100%;"></div>