@model CheckoutPaymentInfoModel
@using Nop.Web.Models.Checkout;
@{

    //title
    Html.AddTitleParts(T("PageTitle.Checkout").Text);
    ViewBag.HideMenu = "true";
}

@*@Html.Action("CheckoutProgress", "Checkout", new { step = CheckoutProgressStep.Payment })*@



<section class="col-main mt-large">
    <h1>@T("Checkout.PaymentInfo")</h1>

    <div class="coupon-box offer offer-default">


        <div class="hint">
            @using (Html.BeginRouteForm("CheckoutPaymentInfo", FormMethod.Post))
            {
                <div class="info">
                    @Html.Action(Model.PaymentInfoActionName, Model.PaymentInfoControllerName, Model.PaymentInfoRouteValues)
                </div>
                <div class="text-right">
                    <input type="submit" name="nextstep" value="@T("Checkout.NextButton")" class="btn btn-default" />
                </div>
                <div class="alert">
                    @Html.ValidationSummary(false)
                </div>
            }

        </div>
    </div>


           
</section>