@using Nop.Web.Models.Flitts.Lookbook;

@model IEnumerable<ItemListModel>

@{
    ViewBag.Title = "Lookbook";
}





<section class="mt-normal">
    @*@Html.Raw(Model.Body)*@
    <ul class="showcase">
        @foreach (var item in Model)
        {
            <li class="showcase-item">
                <div class="schaduw">
                    <a href="@Url.Action("View", new { id = Html.AttributeEncode(item.id)})">
                        <img src="~/content/Images/uploaded/lookbook/@Html.DisplayFor(modelItem => item.Image)" class="img-responsive overlappen" />
                        <div class="contenthover">
                            <span>@Html.DisplayFor(modelItem => item.Caption)</span>
                        </div>
                    </a>
                </div>
            </li>
        }
    </ul>
</section>







@section scripts
{
    <script src="~/Scripts/jquery.contenthover.min.js"></script>

<script>

    $(function () {
        $('.alt-pic').contenthover({
            width: 0,                       // Set to 0 to let the plugin figure it out
            height: 0,                      // Set to 0 to let the plugin figure it out
            overlay_width: 0,               // The overlay element's width. Set to 0 to use the same as 'width'
            overlay_height: 0
        });
    });

    $(function () {
        $('.overlappen').contenthover({
            overlay_background: '#fff',
            overlay_opacity: 0.5

        });
    });

    $(window).on('scroll', function () {
        var curPos = $(window).scrollTop();
       // $('body').css('background-position', '0 -' + curPos * .1 + 'px');
        fadePanels(curPos);
    }).scroll();

    function fadePanels(curPos) {
        var panels = $('.schaduw');

        for (var i = 0; i < panels.length; i++) {
            var offsetTop = $(panels[i]).offset().top;
            var halfPanel = (($(panels[i]).height() + 10) / 2) // half the panel height + padding
            var offsetHalf = halfPanel + offsetTop;

            $(panels[i]).attr('data-scroll-top', offsetTop);
            $(panels[i]).attr('data-scroll-half', offsetHalf);

            var j = (curPos - offsetHalf) / halfPanel;

            if (curPos > $(panels[i]).data('scroll-half')) {
                $(panels[i]).css('opacity', 1 - (j));
            } else {
                $(panels[i]).css('opacity', '1');
            }
        }
    }
</script>
}



