@model AccountActivationModel
@using Nop.Web.Models.Customer;
@{

    //title
    Html.AddTitleParts(T("PageTitle.AccountActivation").Text);
}

<section class="col-main-sml mt-normal">
    <h1>@T("Account.AccountActivation")</h1>

    <p></p>
    <p>
        <div class="result">
            @Model.Result
        </div>
    </p>
</section>


