@model RegisterResultModel
@using Nop.Web.Models.Customer;
@{
    //title
    Html.AddTitleParts(T("PageTitle.Register").Text);

    //continue URL
    var qs = this.Context.Request.QueryString["returnUrl"];
    var continueUrl = "";
    if (!String.IsNullOrEmpty(qs) && Url.IsLocalUrl(qs))
    {
        continueUrl = qs;
    }
    else
    {
        continueUrl = Url.RouteUrl("HomePage");
    }
}


<section class="col-main-sml mt-normal">
    <h1>@T("Account.Register")</h1>

    <p>
        @Model.Result
    </p>
    <br /><br />
    <p>
        <a href="@continueUrl" class="alt">@T("Account.Register.Result.Continue")</a>
    </p>
</section>

