
/*Shop all page*/
.shop_all {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-auto-rows: minmax(4, 1fr);
}

.link-shopall {
    font-size: 14px;
    font-family: 'Carrois Gothic';
}

.shop_all > div {
    border-top: 1px solid #707070;
    color: #707070;
    font-size: 18px;
    font-family: 'Playfair Display';
}

.shop-1 {
    grid-column: 2 / 5;
    grid-row: 1;
    margin-right: 50px;
}
.shop-1_text, .shop-2_text, .shop-3_text, .shop-4_text, .shop-5_text {display:flex; flex-direction:column; justify-content:space-between;}
.shop-2 {
    grid-column: 2 / 5;
    grid-row: 2;
    margin-right: 50px;
}

.shop-3 {
    grid-column: 2 / 5;
    grid-row: 3;
    margin-right: 50px;
}

.shop-4 {
    grid-column: 2 / 5;
    grid-row: 4;
    margin-right: 50px;
}

.shop-5 {
    grid-column: 2 / 5;
    grid-row: 5;
    margin-right: 50px;
}


/*end of shop all*/
/*Shop all page*/
.shop_all_row {
    grid-area: header;
    display: flex;
    justify-content:space-between;

}
.product1, .product2, .product3 {
    padding-left: 43px;
}
.product2-small{padding-right:62px;}
.product4 {
    padding-right: 43px;
}
.product3 {
    justify-content:center;
    margin:auto;
}

.desc_item {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 30px;
}
.name_item, .price_item{
margin:auto;font-size:16px;color:#000;text-align:center;
}
.price_item {
   
}
/*end of shop all*/

/*cataogue*/
.catalogue-img {
    display: flex;
    padding-left: 170px;
    padding-right: 170px;
    padding-top:25px;
}



/*Product Detail Page*/
.product-detail{/*padding-left: 150px;padding-right: 90px;*/}
.product-description{
    max-width:355px;
    margin:0 auto 30px;
    font-size: 11px;
}

.product-description .description p, 
.description>ul>li{
    margin-bottom:0;
    line-height:23px;
}

.detail-price{display:flex;}
.main-price{font-size:16px;
            color:#707070;
}
.discount-price{color: #FFAF42; font-size:14px;margin-left:20px;}
.detail-material{padding-left:12px;}
.discover-link{color:#707070;}
.caption-recommendation{margin-top:-40px; font-size:11px;line-height:10px;padding-left:20px;color:#000;}
.product-detail-another{
    grid-area:header2;
    display:flex;
}
.recommendation {
    grid-area: content1;
    display: flex;
}
.img-similar-overlay {
    opacity: 1;
    display: block;
    transition: .5s ease;
    backface-visibility: hidden;
}
.img-similar-overlay:hover .image-similar-thumb {
    opacity: 0.6;
   /*background-color: rgba(255, 0, 0, 0.3);*/
}

.carousel-indicators li {
    width: 10px !important;
    height: 10px !important;
    border-radius: 100%;
}



.img-similar-overlay:hover .text-overlay {
    opacity: 1;
}

.text-overlay, .text-overlay>p:hover {
    transition: .5s ease;
    opacity: 0;
}

.text-overlay {
    margin-top: -90px;
    padding: 10px;
    line-height: 20px;
    color:#000000 !important;
    text-transform:uppercase;
}

.text-overlay .old-price{
    text-decoration:line-through;
    display:block;
}

.select-size {
    /*display: flex;
    justify-content: space-between;*/
}

    .select-size p {
        margin-bottom: 0;
        opacity: 0.6
    }

.select-size ol,
.select-size ul{margin-bottom:0;}

.form-select-size>input {
    display: none;
}

    .form-select-size > input:checked + label {
        color: #FFAF42;
        font-weight: 500;
    }

.form-select-size>label {
    cursor: pointer;
    display: inline-block;
    border: solid 1px transparent;
    width: 30px;
    height: 30px;
    text-align: center;
    line-height: 30px;
}

.form-select-size>label:last-child {
    margin-right: 0;
}

    .form-select-size > label:hover {
        color: #FFAF42;
        font-weight: 500;
    }


.select-quantity {
    display: flex;
    justify-content: space-between;
    font-size: 10px;
    padding:3px;
    color: #000;
    height: 70px;
    margin-right:30px;
    border: none;
}
.quantity-btn {
    background-color: transparent;
    border-color: transparent;
    color:#000;
    font-size:16px;

}
/*end of product detail*/


/*collection page*/

.collection-row-1 {
    grid-area: header2;
    display: flex;
    justify-content: space-between;
}
.collection-row-2 {
    grid-area: content1;
    display: flex;
    justify-content: center;
}
.collection-row-3 {
    grid-area: content2;
    display: flex;
    justify-content: space-between;
}
.collection1{padding-left:94px;}
.collection2{padding-right:94px;}
.collection1>h3, .collection1>p, .collection2>h3, .collection2>p, .collection3>h3, .collection3>p{font-size:14px; color:#000; text-align:center;}
/*end of collection page*/


.image__blur:hover{
    opacity: 0.3;
}
/*.description {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
}*/


@media (max-width: 575.98px) {
    .img-shopall{width: 187.49px;}
    .product1, .product2, .product3, .product4{padding-left:0;padding-right:0;}
    .img-collection{width: 187.49px;}
    .img-collection-center{width: 375.97px;}
    .collection1, .collection2{padding-left:0;padding-right:0}
    .product-detail{flex-direction:column;}
    .img-detail{width:375.97px;}
    .product-description{padding:20px; margin-top:20px;}
    .img-recommendation{width:164.39px;}
    .name_item, .price_item{font-size:12px;}
    .collection1>h3, .collection1>p, .collection2>h3, .collection2>p, .collection3>h3, .collection3>p{font-size:12px;line-height:18px;}
    .shop-1 {
        grid-column: 1 / 5;
        grid-row: 1;
        margin-right: 0;
        flex-direction: column;
    }
    .shop-1_text, .shop-2_text, .shop-3_text, .shop-4_text, .shop-5_text {display:flex;flex-direction:row; justify-content:space-between; margin-left:20px;}
    .shop-2 {
        grid-column: 1 / 5;
        grid-row: 2;
        margin-right: 0;
        flex-direction: column;
    }
    .shop-3 {
        grid-column: 1 / 5;
        grid-row: 3;
        margin-right: 0;
        flex-direction: column;
    }
    .shop-4 {
        grid-column: 1 / 5;
        grid-row: 4;
        margin-right: 0;
        flex-direction: column;
    }
    .shop-5 {
        grid-column: 1 / 5;
        grid-row: 5;
        margin-right: 0;
        flex-direction: column;
    }
    .catalogue-img {
        padding-left: 0px;
        padding-right: 0px;
        padding-top:0px;
    }
    .product-detail {padding-left: 0px;padding-right: 0px;
}
}


/*******/

h1.cataloque-name {
    color: #707070;
    font-size: 18px;
    text-transform: lowercase;
    line-height: 1em;
}


.catalog-line {/*padding-left: 4px;padding-right: 4px;*/}

.product-item {margin-bottom: 47px; text-align:center;}
.product-item h3 {
    font-weight: normal;
        text-transform: unset;
        text-transform: uppercase;
        line-height: 1em;
        font-size: 14px;
        color: #707070;
    }

.product-item a {display: inline;color:#231F20}
/* .product-item a {display: inline;color:#969696} */
.product-item .img-thumbnail {border: none;border-radius: 0; max-width: 100%;padding: 0;width: 100%;}
.product-item .description {margin-top: 15px; min-height: 60px; text-align:left;}
.product-item .description ul {list-style:none;}


.product-item  .prices {padding-top: 0;}
.price {display: inline-block; font-size: 11px;}
.old--price {color: #969696;}
.price .actual--price{color:#FFAF42}
.product-item .price + .price{margin-left:13px;color:#965226}


.new-item,
.out-of-stock {text-transform: uppercase; color: #2F2F2F; font-size: 11px;}



/*.product-detail-image{
    width:66.66667%;
}

@media (max-width: 575.98px) {
    .product-detail-image{
        width:100%;
    }
}*/


.product-detail h1 {
    line-height: 1.5em;
    font-size:16px;
}

.product-detail .prices .old-product-price{color:#707070;}
.product-detail .prices .product-price{font-size:16px;}


.product-detail .attributes{
    margin:30px 0 20px;
}



.qty_txt {
    margin-bottom: 10px;
}

.desc_item {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 30px;
}
.name_item, .price_item{margin:auto;font-size:16px;text-align:center;
}
.price_item {
   
}


.form-select-size input {
    display: none;
}

.form-select-size label {
    cursor: pointer;
    display: inline-block;
    border: solid 1px transparent;
    min-width: 30px;
    width: 100%;
    height: 30px;
    text-align: center;
    line-height: 30px;
    color: #707070;
}

.form-select-size input:checked + label {
    color: #2F2F2F;
    font-weight: 500;
    border-bottom:1px solid #2f2f2f;
}



.form-select-size label:last-child {
    margin-right: 0;
}

.form-select-size label:hover {
    color: #2F2F2F;
    font-weight: 500;
}

.form-select-size label.out-of-stock{color:#534D4C !important; text-decoration:line-through;}



#EnteredQuantity {
    max-width: 50px;
    background-color: transparent;
    border: none;
    color:#000;
    text-align: center;
    font-size:14px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none;
    margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}

input[type=number] {
    -moz-appearance:textfield; /* Firefox */
}


.add2cart {}
    .add2cart p {
        font-size: 13px;
        margin-bottom: 0;
        opacity: 0.6;
    }


/******/
.related-products {
    max-width: 700px;
    margin: 0 auto 30px;
}

.related-products .row{
    margin-left:-5px;
    margin-right:-5px;
}

.related-products .related-products-item{
  padding-left:5px;
  padding-right:5px;
}

.cross-sells{ }
.cross-sells .row{   
    /*margin-left:0;
    margin-right:0;*/

}
.cross-sells .cross-sells-item{ /*padding-right:0; padding-left:0;*/ }


#productgallery{
    width:130px;
}


@media (max-width: 991.98px) {

    .product-item{margin-bottom:24px;}

    .product-item .description {
        margin-top: 5px;
    }

    .product-item .prices{
        line-height:1rem;
    }


    .product-description {
        padding: 0;
        margin-top: 20px;
        width:100%;
        max-width:100%;
        font-size: 11px;
    }
}