    
body{padding: 0}
.top-balk{position:absolute; width:100%; padding-left: 1.5%; padding-right:1.5%;}
footer{ padding: 14px 1.5% 13px;}
#sidebar-fixed{margin-left:1.5%;}


@media screen and (max-width: 767px) {
    .top-balk-mobile {padding-left:2.7%; padding-right:2.7%;}
    footer{ padding: 14px 2.7% 13px;}
}

@media (min-width: 768px) and (max-width: 1079px) {
    .top-balk-mobile {padding-left: 1.5%; padding-right:1.5%;}
    footer{ padding: 14px 1.5% 13px;}
}


body{
    background-color:orange;
}
